/******************************************************************************\
 * style.css                                                                  *
 * -------------------------------------------------------------------------- *
 * CSS for Bethany's pages                                                    *
\******************************************************************************/
body, html{
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
}
a{
}
a:hover{
}
pre{
}
.clear{
    clear:both;
}

/******************************************************************************\
 * base.html                                                                  *
\******************************************************************************/
#site_container{
    min-height: 100%;
    position: relative;
}
#logo_wrapper{
}
    #top_black_box{
        width: 100%;
        height: 100px;
        position: relative;
        background-color: black;
        border-bottom: 3px solid rgba(158,151,194,.6);
    }
    #bethany_logo_container{
        background: url(../img/logo_resized.png) no-repeat;
        position: relative;
        height: 89px;
        width: 353px;
        top: 5px;
        left: 5px;
    }
#footer_wrapper{
    background-color: black;
    border-top: 3px solid rgba(158,151,194,.6);
    bottom: 0;
    color: white;
    font-size: .8em;
    height: 43px;
    margin: 0;
    position: absolute;
    text-align: right;
    width: 100%;
}
/******************************************************************************\
 * home.html                                                                  *
\******************************************************************************/
#home_nav_box_container{

}
    #home_nav_button_container{
    }
        .home_nav_button{
            position: relative;
            float: right;
            margin-left: 20px;
            margin-right: 20px;
            padding-left: 5px;
            padding-right: 5px;
            border-left: 1px solid black;
            border-right: 1px solid black;
            font-size: 1.2em;
            border-radius: 5px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            cursor: pointer;
        }
        .home_nav_active{
            color: white;
            background-color: black;
            box-shadow: 0px 15px 1px black;
            -moz-box-shadow: 0px 15px 1px black;
            -webkit-box-shadow: 0px 15px 1px black;
        }
        .home_nav_inactive{
            color: black;
            background-color: white;
        }
        #home_nav_home{
        }
        #home_nav_about{
        }
        #home_nav_resume{
        }
        #home_nav_contact{
        }
    #home_nav_content_container{
        height: 300px;
        position: relative;
        top: 5px;
        background-color: black;
    }
        #home_nav_content{
            position: relative;
            width: 96%;
            height: 86%;
            background-color: white;
            border-radius: 5px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            left: 1%;
            top: 2%;
            padding: 15px;
        }
#home_category_container{
    position: relative;
    top: 5px;
    height: 1900px;

}
    .home_category{
        float: left;
        position: relative;
        width: 32%;
        height: 900px;
        border: 1px solid black;
        border-radius: 40px;
        -moz-border-radius: 40px;
        -webkit-border-radius: 40px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 10px;
        background-color: black;
    }
        .category_title{
            width: 90%;
            height: 10%;
            text-align: center;
            position: relative;
            left: 5%;
            top: 1%;
            color: white;
        }
        .category_content{
            position: relative;
            width: 96%;
            height: 42%;
            border: 1px solid black;
            border-radius: 20px;
            -moz-border-radius: 20px;
            -webkit-border-radius: 20px;
            overflow: hidden;
            left: 2%;
            margin-bottom: 10px;
            background-color: white;
        }
    #category_freelance{
    }
        #freelance_title{
            font-size: 5.7em;
        }
        #freelance_content_one{
        }
        #freelance_content_two{
        }
    #category_catalogs{
    }
        #catalogs_title{
            font-size: 5.4em;
        }
        #catalogs_content_one{
        }
        #catalogs_content_two{
        }
    #category_education_materials{
    }
        #education_materials_title{
        }
        #education_materials_content_one{
        }
        #education_materials_content_two{
        }
    #category_website_designs{
    }
        #website_designs_title{
        }
        #website_designs_content_one{
        }
        #website_designs_content_two{
        }
    #category_logos{
    }
        #logos_title{
        }
        #logos_content_one{
        }
        #logos_content_two{
        }
    #category_alpha_phi{
    }
        #alpha_phi_title{
        }
        #alpha_phi_content_one{
        }
        #alpha_phi_content_two{
        }
