<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <title>Beth's Title Placeholder</title>
    <!-- Local JS File -->
    <script type='text/javascript' src='/static/js/mootools.js'></script> 
    <!-- Any Google API Web Fonts -->
    <!-- Local CSS File -->
    <link href='/static/css/style.css' rel='stylesheet' type='text/css' />
</head>
<body>
<div id='site_container'>
    <div id='logo_wrapper'>
        <div id='top_black_box'></div>
        <div id='bethany_logo_container'></div>
    </div> <!-- END logo_wrapper -->
    <div class='clear'></div>
    {% block site_content %}{% endblock site_content %}
    <div id='footer_wrapper'>
        Beth's Footer Placeholder
    </div>
</div> <!-- END site_container -->
<!-- Bottom JavaScript Init -->
<script type="text/javascript">
</script>
</body>
</html>
