{% extends "base.html" %}
{% block site_content %}
<div id='home_nav_box_container'>
    <div id='home_nav_button_container'>
        <div id='home_nav_contact'
            class='home_nav_inactive home_nav_button'>Contact</div>
        <div id='home_nav_resume'
            class='home_nav_inactive home_nav_button'>Résumé</div>
        <div id='home_nav_about'
            class='home_nav_inactive home_nav_button'>About</div>
        <div id='home_nav_home'
            class='home_nav_active home_nav_button'>Home</div>
        <div class='clear'></div>
    </div>
    <div class='clear'></div>
    <div id='home_nav_content_container'>
        <div id='home_nav_content'>
            This is the test content of home. This is the test content of home. This is the test content of home. This is the test content of home. This is the test content of home. This is the test content of home. This is the test content of home. This is the test content of home. This is the test content of home. This is the test content of home.
        </div>
    </div>
</div>
<div id='home_category_container'>
    <div id='category_freelance' class='home_category'>
        <div id='freelance_title' class='category_title'>Freelance</div>
        <hr />
        <div id='freelance_content_one' class='category_content'></div>
        <div id='freelance_content_two' class='category_content'></div>
    </div>
    <div id='category_catalogs' class='home_category'>
        <div id='catalogs_title' class='category_title'>Catalogs</div>
        <hr />
        <div id='catalogs_content_one' class='category_content'></div>
        <div id='catalogs_content_two' class='category_content'></div>
    </div>
    <div id='category_education_materials' class='home_category'>
        <div id='education_materials_title' class='category_title'>Education Materials</div>
        <hr />
        <div id='education_materials_content_one' class='category_content'></div>
        <div id='education_materials_content_two' class='category_content'></div>
    </div>
    <div id='category_website_designs' class='home_category'>
        <div id='website_designs_title' class='category_title'>Website Designs</div>
        <hr />
        <div id='website_designs_content_one' class='category_content'></div>
        <div id='website_designs_content_two' class='category_content'></div>
    </div>
    <div id='category_logos' class='home_category'>
        <div id='logos_title' class='category_title'>Logos</div>
        <hr />
        <div id='logos_content_one' class='category_content'></div>
        <div id='logos_content_two' class='category_content'></div>
    </div>
    <div id='category_alpha_phi' class='home_category'>
        <div id='alpha_phi_title' class='category_title'>Alpha Phi</div>
        <hr />
        <div id='alpha_phi_content_one' class='category_content'></div>
        <div id='alpha_phi_content_two' class='category_content'></div>
    </div>
    <div class='clear'></div>
</div>
{% endblock site_content %}
