{% extends "base.html" %}
{% block site_content %}
<div id='home_nav_box_container'>
    <div id='home_nav_button_container'>
        <div id='home_nav_contact'
            class='home_nav_inactive home_nav_button'>Contact</div>
        <div id='home_nav_resume'
            class='home_nav_inactive home_nav_button'>Résumé</div>
        <div id='home_nav_about'
            class='home_nav_inactive home_nav_button'>About</div>
        <div id='home_nav_home'
            class='home_nav_active home_nav_button'>Home</div>
        <div class='clear'></div>
    </div>
    <div class='clear'></div>
    <div id='home_nav_content_container'>
        <div id='home_nav_content'>
            This is the test content of home. This is the test content of home. This is the test content of home. This is the test content of home. This is the test content of home. This is the test content of home. This is the test content of home. This is the test content of home. This is the test content of home. This is the test content of home.
        </div>
    </div>
</div>
{% endblock site_content %}
